
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ColorMood{
    flex-direction: column;
    align-items: center;
    display: flex;
    transition: 0.5s;
}

.todoContainer{
  background: rgb(248, 248, 248);
  padding: 2rem;
  margin: 10px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  justify-content: space-between;
}
.inputBox{
  background: rgb(248, 248, 248);
  border: none;
  outline: none;
  padding: 1%;
  font-size: 1rem;
  color: #282c34;
  text-transform: capitalize;
}
.mainlinedesign{
  display: flex;
  justify-content: center;
  align-items: center;
gap: 5px;
}
.listIcon{
  font-size: 2rem;
 
}
.buttons{
  background: transparent;
  border: none;
  cursor: pointer;
}
.moonIcon{
  font-size: 1.5rem;
  float: right;
}
.MoodButton{
  border: none;
  background: transparent;
  cursor: grab;
 
}
.errorMessage{
  display: block;
  color: red;
}
.todotextcontainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deleteicon{
  color: transparent;
  
}
.deleteicon:hover{
 color: red;
}

.checkbox{
  accent-color: green;
}
/* .checkbox ~ .todotext{
  text-decoration: line-through;
} */